@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background-color: rgb(72, 73, 73);
  font-family: "Poppins", sans-serif;
  color: rgb(20, 204, 50);
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 35px;
  color: rgb(22, 204, 22);
}

form {
  text-align: center;
  margin-top: 20px;
}

form input[type="button"] {
  margin-top: 20px;
  background-color: rgb(11, 121, 231);
  box-shadow: 1px 1px rgb(190, 211, 197);
  color: white;
  border: solid 1px rgb(7, 241, 241);
}

form input[type="button"]:hover {
  cursor: pointer;
  background-color: rgb(119, 129, 129);
}
form input[type="checkbox"] {
  visibility: hidden;
}
.text {
  background-color: wheat;
}
.id-input {
  background-color: wheat;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* js classes */

.todo-div {
  display: flex;
  text-align: center;
  justify-content: center;
}
.ul-ul {
  list-style: none;
  margin: 5px 15px;
  width: 80%;
}
.ul-ul li {
  background-color: rgb(160, 167, 100);
  margin: 5px 15px;
  font-family: 600;
  padding: 0 15px;
  color: #111;
}

.todo-parentDiv {
  margin-top: 3rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 197, 170);
}

.todo-li {
  margin-right: 3rem;
  margin-left: 3rem;
  color: #111;
  font-size: 20px;
}
.delete-btn {
  background-color: rgb(216, 9, 9);
  font-size: 20px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.completed-btn {
  background-color: rgb(88, 223, 88);
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.edit-btn {
  background-color: rgb(45, 164, 201);
  font-size: 20px;
  margin-left: 3px;
  cursor: pointer;
}
.fa-check-square,
.fa-trash-alt {
  pointer-events: none;
}
